@import url('https://fonts.googleapis.com/css?family=Mada:500,400,200,600,700,800,900');
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

.fontRegular{
  font-family: proxr;
}
.Dropdown-control{
  border: 0px;
}
.Dropdown-arrow{
  border: 0px;
}
.HomePage .fontSemiBold{
  font-family: proxs;
  color: #342d38;
  text-align: left;
  width: 100%;
}

.listingCount{
  margin-bottom: 20px;
}
.locationsdrop{
}
.locationsdropdown{
  cursor: pointer;
  color: black;
  min-width: 160px;
  z-index: 1;

}
.locationsdropdown:hover{
  background-color: #f4f4f4;
}
.input{
}
.colordark{
  color: #342d38;
}

.AdItem{
  overflow: hidden;
  border-radius: 0.5px;
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.HomePage .likeBtn{
  height: 20px;
  weight: 20px;
  /* margin-top: 20px; */
  float: right;
  margin-right: 15px;
  margin-top: -20%;
}
.ImageSide{
  height: 100%;
  width: 50%;

}

.ImageSideImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.DescriptionSide{
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 50%;
  font-size:40%;
  margin-left:5px;

}
.HomePage .AdDescription{
  float:left;
  text-Align:left;
  font-size: 130%;
  margin-bottom:10px;
  width: 100%;
  text-overflow: clip;
  height: 25%;
}
.HomePage .AdTitle{

  display: block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top:-7%;
  float:left;
  margin-bottom:5px;
  width: 100%;
  text-overflow: clip;
  height: 15%;

}
.HomePage .rightdiv{
  display: flex;
  padding: 0px;
  font-family: proxs;
  margin-bottom:2px;
  margin-left:-5px;
  width: 100%;
  height: 10%;
  align-items: center;
}
.HomePage .pricediv{
  display: flex;
  align-items: baseline;
}
.HomePage .storage_color_image{
  align: left;
  object-fit:scale-down;
  height:80%;
}

.HomeBody{
  width: 75%;
  padding-bottom: 100px;
}

.AdsContent{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  place-items: start;
  justify-content: left;
  column-gap: 25px;
  row-gap: 17px;
  width: 100%;
  /* border:1px solid; */
}

.HomePage .Boosted{
  float: right;
  font-size: 130%;
  color:#156dbf;
}

.TopPart{
  padding: 20px 20px 0 0;
  height: 170px;
  display: block;
}
.BlueButton{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 120%;
  height: 40px;
  width: 170px;
}

.FilterMenu{
  width: 25%;
}

.brandsForm{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}

.brandsOption{
  display: flex;
  align-items: center;
  justify-content: center;

}

.brandsOption .name{
  text-align: left;
  width: 90%;
  height: 10px;
  margin-left: 5px;
  text-overflow:clip;
  word-wrap: break-word;
  line-height: normal;
  vertical-align: baseline;
}


.brandsOption .checkbox{
  /* background-color: #0000ff; */
  width: 15px;
}
.check{
  height: 10px;
  position: absolute;
  left:13%;
  margin-top:-1%;
}

.filterType{
    margin-top: 20px;
    margin-bottom: 20px;

}

.applyBtn{
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 80% !important;
  font-size:100%;
  color: #ffffff !important;
  background-color: #3e77bb;
  color:#ffffff;
  text-align: center;
  border: 1px solid #156dbf;
}
.typeBtns
{
    display: flex;
    /* width: 80%; */
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.typeButton
{
  cursor: pointer;
  height: 50px;
  margin-right: 10px;
}
.searching{
  float: left;
  margin-left: 7%;
}
.radiusinput{
width: 40%;
border: 1px solid #dbd6d6;
border-radius: 5px 5px 5px 5px;
height: 35px;
/* color: #342d38; */
}
.labels{
  font-family: proxs;
  color: #342d38;
  font-size: 150%;
  border-bottom:1px solid #dbd6d6;
  width: 100%;
  padding-bottom: 20px;
}
.labels1{
  font-family: proxs;
  color: #342d38;
  font-size: 100%;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #342d38;
}
.labels2{
  font-family: proxs;
  color: #342d38;
  font-size: 100%;
  width: 100%;
  color: #342d38;
  }
.ReactModal__Content{
  height:450px;
  width:450px;
  margin-left:32%;
  margin-top:5%;
  /* border: 1px solid #dbd6d6; */
  box-shadow:5px 6px 6px #bfbdc1, -1px -1px 6px #bfbdc1;
  border-radius: 20px 20px 20px 20px !important;
}
.input{
  border: 1px solid #dbd6d6;

  border-radius: 5px 5px 5px 5px;
}
.close{
  border-radius: 50%;
  height:20px;
  width:20px;
  background-color: red;
  text-align: center;
  color:white;
}
.hr{
  border-color:white !important;
}
