.PostAd{
  text-align: left;
  font-family: proxr;
}
.PostPage .SemiBold{
  font-family: proxs;
  color: #342d38;
}
.PostPage .headerbar{
  display: flex;
  margin-bottom:3%;
  margin-top:5%;
}
.PostPage .addmoreButton{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 130%;
  height: 40px;
  width: 170px;
  float: right;
  margin-bottom: 5%;
  margin-top: 5%;
  /* margin-right: 2%; */
}
.PostPage .finishButton{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 130%;
  height: 40px;
  width: 170px;
  float: left;
  margin-bottom: 5%;
  margin-top: 5%;
  /* margin-right: 2%; */
}
.PostPage .sugmitButton{
  font-family:proxr;
  background-color: #156dbf;
  border: 1px solid #156dbf;
  border-radius: 5px 5px 5px 5px;
  color:#ffffff;
  font-size: 130%;
  height: 40px;
  width: 170px;
  float: right;
  margin-bottom: 5%;
  margin-top: 10%;
  /* margin-right: 2%; */
}
.PostPage .submit{
  font-size:160%;
  margin-top:-3px;
  margin-left: 30%;
}
.PostPage .backBtn{
  /* font-size: 25px; */
  font-size: 120%;
}
.PostPage .Headings{
  font-size: 150%;
  color:white;
  padding: 15px 0px 0px 10px;
  /* height: 100%; */
}
.images{
  height: 20px;
}
.PostPage .titleAccordian
{
  padding: 20px;
  font-size: 20px;
  background-color: #156dbf;
  color: #ffffff;
  margin-bottom: 10px;
}

.PostAdForm{
/* border: 1px solid #342d38; */
height: 800px;
}
.MainAccordion{
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
}
.AccordionForm{
  margin-top: 5%;
  width: 100%;
  }
.PostAdSteps{
  font-family: proxs;
  color: #342d38;
  text-align: left;
}
.TwoColumns{
  display: flex;
  /* justify-content: center; */
}
.tempColumn{
  /* justify-content: center; */
}
.PictureColum{
  margin-top: 20px;
  margin-bottom: 20px;
}
.PostPage .leftSide
{ margin-top: 2%;
  width: 50%;
}

.PostPage .rightSide
{ margin-top: 2%;
  width: 50%;
}
.PostPage .leftSide_float
{ margin-top: 2%;
  width: 50%;
  float: left;
}

.PostPage .rightSide_float
{ margin-top: 2%;
  width: 50%;
  float: right;
}
.PostPage .full
{ margin-top: 2%;
  width: 100%;
}
.PostPage .leftter
{ margin-top: 2%;
  width: 25%;
  float: left;
  text-align: left;
}
.PostPage .righter
{ margin-top: 2%;
  width: 75%;
  float: left;
  text-align: left;
}
.PostPage .Formtitle_detail{
  font-size: 130%;
  font-family: proxr;
}
.PostPage .clinic_title
{
  margin-top: 2%;
  width: 100%;
  font-family: proxs;
  font-size:200%;
  color: blue;
}
.PostPage .print_form{
  width: 100%;
  border: 2px solid blue;
  padding: 2%;
}
.PostPage .sub_titles_left{
  border: 1px solid blue;
  border-radius: 5px 5px 5px 5px;
  font-family: proxs;
  color:blue;
  width: 40%;
  float: left;
}
.PostPage .sub_titles_right{
  border: 1px solid blue;
  border-radius: 5px 5px 5px 5px;
  font-family: proxs;
  color:blue;
  width: 40%;
  float: right;
}
.PostPage .full_view
{
  /* margin-top: 20%; */
  width: 100%;
  float: left;
}
.PostPage .hints{
  color: #AAAAAA;
  font-size:80%;
}
.PostPage .name{
  margin-left: 1px;
}
.Formtitle{
  font-family: proxs;
  color: #342d38;
  font-size: 150%;
  float: left;
}
.med_name{
  font-family: proxs;
  color: #342d38;
  font-size: 100%;
  float: left;
  width: 30%;
  text-align: left;
}
.med_form{
  font-family: proxs;
  color: #342d38;
  font-size: 100%;
  float: left;
  width: 10%;
  text-align: left;
}
.med_dosage{
  font-family: proxs;
  color: #342d38;
  font-size: 100%;
  float: left;
  width: 20%;
  text-align: left;
}
.lightitles{
  font-family: proxr;
  color: #AAAAAA;
  font-size: 100%;
}

.inputsdropdown{
width: 20%;
border: 1px solid #dbd6d6;
border-radius: 5px 5px 5px 5px;
height: 35px;
float: left;
font-family: proxr;
/* color: #342d38; */
}
.completearea{
  width: 90%;
  height: 35px;
  border: 1px solid #dbd6d6;
  border-radius: 5px 5px 5px 5px;
}
.textarea{
  width: 90%;
  border: 1px solid #dbd6d6;
  border-radius: 5px 5px 5px 5px;
}
.ref_date{
  width: 40%;
  border: 1px solid #dbd6d6;
  /* border-radius: 5px 5px 5px 5px; */
  border-top:0px;
  border-left:0px;
  border-right:0px;
}
.name_{
  width: 70%;
  border: 1px solid #dbd6d6;
  /* border-radius: 5px 5px 5px 5px; */
  border-top:0px;
  border-left:0px;
  border-right:0px;
}
.full_lines{
  width: 100%;
  border-top:0px;
  border-left:0px;
  border-right:0px;
}
.medicine_lines{
  width: 40%;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  float: left;
  margin-left: 5%;
  font-family: proxr;

}
.medicine_lines2{
  width: 20%;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  float: left;
  margin-left: 5%;
  font-family: proxr;

}
/* .PostPage .picture_area > input
{
display: none;
} */
.fle{
  height:70px;
  cursor:pointer;
}
.react-sanfona-item-body
{
  background-color: white;
}
.react-sanfona-item-title	{

}
.arrow{
  height: 20px;
  float:right;
  margin-top: -2%;
}
.PostPage .input{
  width: 70%;
  height:30px;
}
