.SideMenu{
  width: 30%;

}

.SideMenuLogo{
    margin-top: 20%;

    margin-left: 10%;
    height: 50px;
    width: 100%;
    object-fit: scale-down;
}
.SideMenu .backBtn
{
  font-size: 120%;
  margin-bottom: 35%;

}

.MenuItem
{
  display: flex;
  height: 35px;
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.menuitems
{
  display: flex;
  height: 35px;
  width: 90%;
  margin-bottom:0.5px;
  /* justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center; */
}
.Menu{
  margin-top:-20%;
  cursor: pointer;
  text-align: left;
  }

.ItemImage
{
  margin-top:3px;
  height: 15px;
  width: 20%;
  object-fit: scale-down;

}

.ItemName
{
  width: 70%;
  height: 15px;
  font-size: 15px;
  text-align: left;
}
